
.scroll {
    width: 100%;
    display: flex;
    
}

.scroll-child { 
    height: 15vh;
    width: 25%;
    align-content: center;
    justify-content: space-evenly;
}

.iAm {
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
}

.iAm p {
    height: 50px;
}

.theRest {
    font: normal 40px/50px Montserrat, sans-serif;
    overflow: hidden;
    height: 50px;
    top: 40px;
}

.theRest-inner {
    display: inline-block;
    color: tomato;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
  -webkit-animation:move 5s;
  -moz-animation:move 5s;
   -ms-animation:move 5s;
    -o-animation:move 5s;
       animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
   -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
       animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
  -moz-animation-delay:1s;
   -ms-animation-delay:1s;
    -o-animation-delay:1s;
       animation-delay:1s;
}

.this {
    display: flex;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
    justify-items: center;
    justify-content: space-evenly;
}

.this p {
    height: 50px;
}
.this b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
}
.this .innerThis {
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }

  @keyframes move{
  0%  { top: 0px; }
  33% { top: -50px; }
  66% { top: -100px; }
  }
  
  @-webkit-keyframes move {
    0%  { top: 0px; }
    33% { top: -50px; }
    66% { top: -100px; }
  }
  @-moz-keyframes move {
    0%  { top: 0px; }
    33% { top: -50px; }
    66% { top: -100px; }
  }
  @-o-keyframes move {
    0%  { top: 0px; }
    33% { top: -50px; }
    66% { top: -100px; }
  }

  @keyframes move {
    0%  { top: 0px; }
    33% { top: -50px; }
    66% { top: -100px; }
  }

  /*
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  */

  @media (max-width: 900px) {
    .scroll {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }

    .this p {
        height: 50px;
    }

    .theRest-inner {
        color: tomato;
        white-space: nowrap;
        top: 0;
        left: 0;
    
        /*animation*/
      -webkit-animation:move 5s;
      -moz-animation:move 5s;
       -ms-animation:move 5s;
        -o-animation:move 5s;
           animation:move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;
       -ms-animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
           animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:1s;
      -moz-animation-delay:1s;
       -ms-animation-delay:1s;
        -o-animation-delay:1s;
           animation-delay:1s;
    }
  }