/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    display: flex;
    background-color: #333;
    background: linear-gradient(#333, #000);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #999;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-top: 4px solid #333;
    width: 200px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: tomato;
    background: linear-gradient(tomato, crimson);
    color: black;
    border-top: 4px solid tomato;
    border-bottom: 4px solid crimson;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    border-top: 4px solid tomato;
    border-bottom: 4px solid crimson;
    color: tomato;
  }

  .navbar a.active:hover {
    border-top: 4px solid tomato;
    border-bottom: 4px solid crimson;
    color: #999;
  }

  header {
    height: 30vh;
    width: 100%;
  }

  

